/* 
	background-color: rgb(148, 229, 100); green
	background-color: rgb(255, 196, 111); yellow
	background-color: rgb(238, 104, 135); pink
	background-color: rgb(137, 90, 188); violet


 */

body {
	background-color: rgb(255, 255, 255);
	background: linear-gradient(90deg, rgba(223, 34, 223, 0.575) 0%, rgba(3, 151, 219, 0.774) 35%, rgba(124, 126, 8, 0.466) 90%);
	margin: 0 auto;
	font-size: 18px;
	min-height: 100vh;
}

main {
	background-color: rgba(255, 255, 255, 0.714);
	color: rgb(53, 49, 49);
	margin: 0 auto;

}

.footer {
	/* background: linear-gradient(70deg, rgba(20, 86, 124, 0.475) 0%, rgba(125, 0, 129, 0.503) 35%, rgba(124, 126, 8, 0.366) 90%); */
}

.navbar {
	/* background: linear-gradient(70deg, rgba(20, 86, 124, 0.475) 0%, rgba(125, 0, 129, 0.503) 35%, rgba(124, 126, 8, 0.366) 90%); */
	height: 50px;
	position: static;
	display: flex;
	justify-content: space-around;
	padding: 0 30px 0 30px;
}

.navbar-link {
	text-decoration: none;
	color: rgb(53, 49, 49);
	font-size: 20px;
	padding: 10px;
}



